body {
  font-family: Arial, Helvetica, sans-serif;
}
#posts {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: space-evenly;
  align-items: baseline;
}
#posts div {
  width: 19.5em;
  margin: 10px 0;
  position: relative;
  border: 1px solid rgba(0, 0, 0, 0.171);
  padding: 18px 5px;
}
#posts div .img {
  width: 100%;
  height: auto;
  overflow: hidden;
  margin-top: 20px;
}
#posts div .profilePic {
  width: 3.2em;
  object-fit: cover;
  height: 3.2em;
  border-radius: 100px;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  -ms-border-radius: 100px;
  -o-border-radius: 100px;
  display: inline;
  margin-left: 0;
}
#posts div h3.name {
  display: inline;
  margin: 0;
  padding: 0;
  position: relative;
  bottom: 25px;
  left: 10px;
  font-size: 1.3em;
}
#posts div button {
  border: none;
  background-color: white;
  position: relative;
  top: 2px;
}

#posts div h5 {
  display: inline;
  margin: 0;
  padding: 0;
  position: relative;
  bottom: 5px;
  left: -105px;
  font-size: 0.8em;
  font-weight: 100;
}
#posts div span.instagramicon {
  position: relative;
  top: -12px;
  right: -10px;
}

#posts div p.caption {
  padding: 0 2px 15px 2px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.171);
}

@media screen and (max-width: 768px) {
  #posts div {
    width: 100%;
    margin: 10px 5px;
  }
  #posts div span.instagramicon {
    position: absolute;
    top: 30px;
    right: 20px;
  }
}
button#loadmore {
  margin: 50px auto;
  display: block;
  font-size: 1.5em;
  border: none;
  background-color: #1778f2;
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
  padding: 15px 25px;
  cursor: pointer;
  color: azure;
}
button#loadmore:hover {
  color: rgba(65, 65, 65, 0.685);
  background-color: #177af2dc;
}

.liked > svg {
    background-color: red;
}